/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	margin: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

html {
  overflow-y: scroll;
}

body {
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

#edit-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	height: 59px;
	background-color: #000;
	color: #fff;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin: 0px 150px; */
	padding: 50px 150px;
}

main {
	padding: 0 245px;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 44px;
	list-style-type: none;
}

nav a {
	font-size: 1.2em;
}

nav li img {
	width: 22px;
	height: auto;
}

li:hover {
	font-weight: 700;
}

button {
    all: unset;
	display: inline-block;
    cursor: pointer;
	box-sizing: border-box;
}

button:focus {
    outline: auto;
}

#introduction {
	display: flex;
	align-items: center;
	margin: 139px 0;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 1.7em;
}

#introduction h2 {
	padding-left: 72px;
}

#introduction p {
	padding-left: 72px;
}

#portfolio h2 {
	text-align: center;
}

.portfolio-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 50px;
}

.filters-container {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-bottom: 50px;
}

.filter {
	height: 37px;
	min-width: 100px;

	padding: 0 0.65em;

	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	text-align: center;

	background-color: transparent;
	border: 1px solid #1D6154;
	border-radius: 60px;
}

.filter.active {
	background-color: #1D6154;
	color: white;
	border-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 407px;
}

.gallery figcaption {
	margin-top: 0.5em;
}

.form-section {
	width: 40%;
	margin: auto;
}

.form-section > * {
	text-align: center;
}

.form-section h2{
	margin-bottom: 20px;
}

.form-section form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.form-section input:not(.btn) {
	height: 51px;
	font-family: 'Work Sans';
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
}

.form-section select {
	height: 51px;
	font-family: 'Work Sans';
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
	padding-right: 52px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(./icons/chevron.svg);
	background-repeat: no-repeat;
	background-position: right 30px center;
}

.form-section label {
	margin: 2em 0 1em 0;
	font-weight: 500;
}

.form-section textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px;
}

.btn {
	height: 36px;
	border: none;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1em;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.btn:hover{
	background-color: #0E2F28;
}

.form-section a {
	text-align: center;
	text-decoration: underline;
}

footer {
	background-color: #FFF;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	max-width: 1440px;

	margin: 0 auto;
	padding: 2em;
}

footer nav li {
	margin-right: 79px;

	font-size: 1em;
	font-weight: 300;
}

footer a {
	font-size: 1em;
	font-weight: 300;
}

#login {
	margin: 100px auto 355px auto;
}

#error {
	text-align: center;
}

.hidden {
  display: none !important;
}

/* Style de la modal */
.modal {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.3);
}

.modal-content {
	position: relative;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	background: #FFF;
	padding: 60px 105px 45px 105px;
	border-radius: 10px;
	box-sizing: border-box;
}

#modal-title {
	font-size: 1.9em;
	font-family: 'Work Sans';

	margin-bottom: 46px;
}

.modal-separator {
	width: 100%;
	border: none;
  	height: 1px;
  	background-color: #B3B3B3;
	margin-bottom: 38px;
}

.modal-close {
	position: absolute;
	top: 32px;
	right: 32px;

	font-size: 1.2em;
}

.modal-back {
	position: absolute;
	top: 32px;
	left: 32px;
}

.modal-content .btn {
	margin: 0;
	width: 237px;
}

/* Style de la modal-gallery */
.modal-gallery{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 29px;
	margin-bottom: 68px;
}

.modal-gallery img {
	width: 100%;
	height: 102px;
}

.modal-gallery figure {
	position: relative;
}

.modal-deleteBtn {
	position: absolute;
	top: 4px;
	right: 4px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 17px;
	height: 17px;

	color: #FFF;

	background-color: #000;
	border-radius: 2px;
}

.modal-deleteBtn i{
	font-size: 10px;
}

.modal-gallery button {
	position: absolute;
}

/* Style de la modal upload */
.modal-upload .modal-upload-form {
	display: flex;
	flex-direction: column;
	margin: 0 0 47px 0;
}

.modal-content .form-section {
	width: 100%;
}

.modal-upload .upload-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 6px;
	background-color: #E8F1F6;
	border-radius: 3px;
	padding: 20px;
	margin: 0;
	cursor: pointer;
}

.upload-photo img {
	width: 76px;
	height: 76px;
}

.upload-btn {
	color: #306685;
	width: 173px;
	height: 36px;
	background-color: #CBD6DC;
	border-radius: 50px;
	padding: 0 33px;
}

.upload-photo p {
	color: #444444;
	font-size: 10px;
	font-weight: 400;
}

.disabled {
	background-color: #A7A7A7;
}

/* Input masqué mais accessible */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden:is(:focus, :focus-within) + label {
  outline: thin dotted;
}